<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oracle.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NotificationsServlet</servlet-name>
    <servlet-class>com.oracle.servlet.NotificationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationsServlet</servlet-name>
    <url-pattern>/notifications</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myBookingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.MyBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myBookingServlet</servlet-name>
    <url-pattern>/mybooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myMeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.MyMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myMeetingServlet</servlet-name>
    <url-pattern>/mymeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllMeetingRoomServlet</servlet-name>
    <servlet-class>com.oracle.servlet.GetAllMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllMeetingRoomServlet</servlet-name>
    <url-pattern>/getallmr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bookMeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.BookMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookMeetingServlet</servlet-name>
    <url-pattern>/bookmeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dobookmeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.DoBookMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dobookmeetingServlet</servlet-name>
    <url-pattern>/dobookmeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>roomdetailsServlet</servlet-name>
    <servlet-class>com.oracle.servlet.RoomdetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roomdetailsServlet</servlet-name>
    <url-pattern>/roomdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addMeetingRoomServlet</servlet-name>
    <servlet-class>com.oracle.servlet.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addMeetingRoomServlet</servlet-name>
    <url-pattern>/addmeetingroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAllDepJsonServlet</servlet-name>
    <servlet-class>com.oracle.servlet.GetAllDepJsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllDepJsonServlet</servlet-name>
    <url-pattern>/getalldepjson</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getEmpByDepIdServlet</servlet-name>
    <servlet-class>com.oracle.servlet.GetEmpByDepIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEmpByDepIdServlet</servlet-name>
    <url-pattern>/getempbydepid</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchMeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.SearchMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchMeetingServlet</servlet-name>
    <url-pattern>/searchmeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>departmentsServlet</servlet-name>
    <servlet-class>com.oracle.servlet.DePartmentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>departmentsServlet</servlet-name>
    <url-pattern>/departments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchEmpServlet</servlet-name>
    <servlet-class>com.oracle.servlet.SearchEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchEmpServlet</servlet-name>
    <url-pattern>/serachemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regServlet</servlet-name>
    <servlet-class>com.oracle.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regServlet</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>approveaccountServlet</servlet-name>
    <servlet-class>com.oracle.servlet.ApproveaccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>approveaccountServlet</servlet-name>
    <url-pattern>/approveaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doRegServlet</servlet-name>
    <servlet-class>com.oracle.servlet.DoRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doRegServlet</servlet-name>
    <url-pattern>/doreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>meetingDetailsServlet</servlet-name>
    <servlet-class>com.oracle.servlet.MeetingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>meetingDetailsServlet</servlet-name>
    <url-pattern>/meetingdetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cancelMeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.CancelMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cancelMeetingServlet</servlet-name>
    <url-pattern>/cancelmeeting</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doCanceledMeetingServlet</servlet-name>
    <servlet-class>com.oracle.servlet.DoCanceledMeetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doCanceledMeetingServlet</servlet-name>
    <url-pattern>/docanceled</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteDepServlet</servlet-name>
    <servlet-class>com.oracle.servlet.DeleteDepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteDepServlet</servlet-name>
    <url-pattern>/deletedep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addDepServlet</servlet-name>
    <servlet-class>com.oracle.servlet.AddDepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDepServlet</servlet-name>
    <url-pattern>/adddep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateDepServlet</servlet-name>
    <servlet-class>com.oracle.servlet.UpdateDepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDepServlet</servlet-name>
    <url-pattern>/updateDep</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateEmpStatusServlet</servlet-name>
    <servlet-class>com.oracle.servlet.UpdateEmpStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmpStatusServlet</servlet-name>
    <url-pattern>/updateEmpStatus</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.oracle.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.oracle.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>permissFilter</filter-name>
    <filter-class>com.oracle.filter.PermissFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>permissFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  
   <error-page>
     <error-code>404</error-code>
     <location>/error.jsp</location>
  </error-page>
  
  <error-page>
     <error-code>500</error-code>
     <location>/error.jsp</location>
  </error-page>
  <listener>
  	<listener-class>com.oracle.listener.VisitCountListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
 
</web-app>